.git
.github
.venv
venv
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd
.coverage
htmlcov
coverage
coverage.xml
*.egg-info
build
dist
tmp
.grype-db
.grype-cache
grype-results
trivy-results
